<section id="orderList">
    <script>
    const ten_mintues = 600000
    function cancel(status, dateUTC) {
        var orderDate = new Date(dateUTC)
        var now = new Date()
        var diff = now - orderDate;
        if(diff < ten_mintues && status !== "Fulfilled"){
            return confirm('Are you sure you want to cancel your order?');
        }
        if(diff < ten_mintues && status === "Fulfilled"){
            alert("you cannot modify as your order is fulfilled ")
            return false
        }
        if(diff > ten_mintues){
            alert("you cannot cancel the order as it has placed for more than 10 minutes")
            return false
        }   
    }  
    function update(status, dateUTC){
        var orderDate = new Date(dateUTC)
        var now = new Date()
        var diff = now - orderDate;
        if(diff < ten_mintues && status !== "Fulfilled"){
            return confirm('Are you sure you want to change your order?');
        }
        if(diff < ten_mintues && status === "Fulfilled"){
            alert("you cannot modify as your order is fulfilled ")
            return false
        }
        if(diff > ten_mintues){
            alert("you cannot change the order as it has placed for more than 10 minutes")
            return false
        }
    }
    </script>
    <h1 style="margin-bottom: 1%;">Orders List</h1>
    <p style="color: black">You can change or remove the order within <span style="color:red;">10 minutes</span> if the order has not been fulfilled.</p>
    <ul>
        {{#each newOrders}}
        {{#if this.visibility}}
        <li>
            <table>
                <tr style="row"><td>Order ID: </td><td>{{this._id}}</td></tr>
                <tr><td>Van ID: </td><td>{{this.vanId}}</td></tr>
                <tr><td>Order time: </td><td>{{this.time}}</td></tr>
                <tr><td>Status: </td><td>{{this.status}}</td></tr>
                <tr><td>Items: </td>
                <td><table style="border: 5px solid #BF863F; width:85%;" align = "left">
                    <tr style='background:#c0c0c0;'><td>Name</td><td>Quantity</td></tr>
                    {{#each foodnames}}
                    <tr>
                        <td>{{this.foodname}} </td><td>{{this.quantity}}</td>
                    </tr>
                    {{/each}}
                </table></td>
                </tr>
                <tr><td>Total Price: </td>
                <td>
                    ${{this.total}}
                        {{#if this.discount }}
                            (20% discount)
                        {{/if}}
                </td>
                </tr>
            {{#if this.notshowrating}}
                {{#if (checkTime this.dateUTC) }}
                    <tr>
                        <td colspan="2">
                            <form method="post" action="newOrders/cancel_order">
                            <input type="hidden" name = "orderId" value="{{this._id}}">
                            <button type="submit"  class="register-btn" style="padding: 1%;" onclick="return cancel('{{this.status}}', '{{this.dateUTC}}');">
                            Cancel Order
                            </button>
                        </td>  
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td colspan="2">
                            </form>
                            <form method="post" action="newOrders/change_order">
                            <input type="hidden" name = "orderId" value="{{this._id}}">
                            <input type="hidden" name = "items" value="{{this.items}}">
                            <button type="submit"  class="register-btn" style="padding: 1%;" onclick="return update('{{this.status}}', '{{this.dateUTC}}');">
                            Change Order
                            </button>
                            </form>
                        </td> 
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                {{/if}}    
            {{else}}
                    {{#if (rate this.rating)}}
                    {{!-- {{#if this.rating}} --}}
                             <tr><td>Rating:</td><td>{{this.rating}} stars out of 5</td></tr>  
                    {{else}}
                        <tr>
                            <td colspan="2">
                                <center><button type="submit"  class="register-btn" style="padding: 1%;"><a href="/customer/orders/{{this._id}}/rating" class="a-register">Rating now</a></button></center>
                            </td>  
                        </tr>
                    {{/if}}             
            {{/if}}
            </table> 
        </li>
        {{/if}}
        &nbsp;
        {{/each}}
    </ul>
</section>