<section id="orderList">
    <script>
    function cancel(status, dateUTC) {
        var orderDate = new Date(dateUTC)
        var now = new Date()
        var diff = now - orderDate;
        {{!-- 600000 is 10 minutes --}}
        if(diff < 600000 && status !== "fulfilled"){
            return confirm('Are you sure you want to cancel your order?');
        }
        if(diff < 600000 && status === "fulfilled"){
            alert("you cannot modify as your order is fulfilled ")
            return false
        }
        if(diff > 600000){
            alert("you cannot cancel the order as it has placed for more than 10 minutes")
            return false
        }   
    }  
    </script>
    <h1>Orders List</h1>
    <ul>
        {{#each newOrders}}
        {{#if this.visibility}}
        <li>
            <table>
                <tr><td>Order ID: </td><td>{{this._id}}</td></tr>
                <tr><td>Van ID: </td><td>{{this.vanId}}</td></tr>
                <tr><td>Order time: </td><td>{{this.time}}</td></tr>
                <tr><td>Status: </td><td>{{this.status}}</td></tr>
                <tr><td>Items: </td>
                <td><table style="border: 5px solid #BF863F; width:85%;" align = "left">
                    <tr style='background:#c0c0c0;'><td>Name</td><td>Quantity</td></tr>
                    {{#each foodnames}}
                    <tr>
                        <td>{{this.foodname}} </td><td>{{this.quantity}}</td>
                    </tr>
                    {{/each}}
                </table></td>
                </tr>
                <tr><td>Total Price: </td><td>${{this.total}}</td></tr>

                <tr>
                    <td colspan="2">
                        <form method="post" action="newOrders/cancel_order">
                        <input type="hidden" name = "orderId" value="{{this._id}}">
                        <button type="submit"  class="register-btn" style="padding: 1%;" onclick="return cancel('{{this.status}}', '{{this.dateUTC}}');">
                        Cancel Order
                        </button>
                    </td>  
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td colspan="2">
                        </form>
                        <form method="post" action="newOrders/change_order">
                        <input type="hidden" name = "orderId" value="{{this._id}}">
                        <button type="submit"  class="register-btn" style="padding: 1%;" onclick="return clicked('{{this.status}}', '{{this.dateUTC}}');">
                        Change Order
                        </button>
                        </form>
                    </td> 
                </tr>
                
                <tr><td>&nbsp;</td></tr>
            </table> 
        </li>
        {{/if}}
        &nbsp;
        {{/each}}
    </ul>
</section>