<section id = "shopping-cart">
    <h1 style="text-align: left;">Shopping Cart</h1>
    <h1 style="text-align: left;"> {{thiscustomer.firstName}}'s order:</h1>
    <ul>
        <li>
            <p>Items</p>  
            <p>Name</p>        
            <p>Price/Unit</p>        
        </li>
        {{#each cartFood}}
         <li>
            <img class="browsePage" src="https://source.unsplash.com/{{this.photo}}">
            <p>
                {{this.name}}
            </p>
            <p>
                ${{this.price}}
            </p>
            <p id = "shopping-cart-remove">
                <form method="post" action="/customer/{{../thiscustomer._id}}/shopping-cart">
                    <input type="hidden" name = "item_id" value="{{this.cartId}}">
                    <input type="submit" value="Remove"> 
                </form> 
            </p>
        </li>
        {{/each}}
    </ul>
    <p style="text-align: right;">Total price: ${{total_price}}</p>
    <form method="post" action="/customer/{{thiscustomer._id}}/newOrders">
        <input type="submit" value="Place Order">
    </form>

</section>
