<section id="vanDetials">

    <h1> vendor Details </h1>

    <script>
    
    function update(status){
        
        if(status === "close"){
            return Van.updateOne({ vanId: req.session.van_name }, { status: "open" }).lean()
        } else {
            return Van.updateOne({ vanId: req.session.van_name }, { status: "close" }).lean()
        }

    }
    </script> 
    <section id = "register-page">
        <ul style="list-style-type:none">
            <li>
                <h3>Van Name: {{oneVan.vanId}}</h3>
            </li>
            <li>
                <h3>Address Message: {{oneVan.address}}</h3>
            </li>
            <li>
                <h3>Location: [{{oneVan.location.coordinates}}]</h3>
            </li>
            <li>
                <h3>Status: {{oneVan.status}}</h3>
            </li>
            <li>
                <li>
                <h3>Rating: {{oneVan.vanRate}}</h3>
            </li>
                <form method="post" action="/vendor/home/updateVanStatus">
                    <input type="hidden" name = "status" value="{{this.status}}">
                    <button type="submit"  class="register-btn" style="padding: 1%;">
                    Change Status
                    </button>
                </form>
            </li>
        </ul>   
    </section>
    </table> 
</section>